<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxFrame" name="projetoFinalWxDebuggerFrame">
		<size>1654,1000</size>
		<id_arg>0</id_arg>
		<style>wxDEFAULT_FRAME_STYLE|wxRESIZE_BORDER|wxCLOSE_BOX|wxMAXIMIZE_BOX|wxMINIMIZE_BOX|wxSIMPLE_BORDER</style>
		<exstyle>wxWS_EX_VALIDATE_RECURSIVELY</exstyle>
		<handler function="OnClose" entry="EVT_CLOSE" />
		<object class="wxStaticBox" name="ID_STATICBOX1" variable="bxTransacao" member="yes">
			<label>Transação</label>
			<pos>16,24</pos>
			<size>480,112</size>
		</object>
		<object class="wxStaticBox" name="ID_STATICBOX2" variable="bxCapitalExterno" member="yes">
			<label>Capital Externo</label>
			<pos>16,160</pos>
			<size>480,368</size>
		</object>
		<object class="wxTextCtrl" name="ID_TEXTCTRL1" variable="txtValorBem" member="yes">
			<pos>288,40</pos>
			<size>176,21</size>
			<tooltip>Valor do bem a ser adquirido.</tooltip>
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT1" variable="lblValor" member="yes">
			<label>Valor do bem a ser adquirido (R$): </label>
			<pos>24,48</pos>
		</object>
		<object class="wxTextCtrl" name="ID_TEXTCTRL2" variable="txtEntrada" member="yes">
			<pos>288,72</pos>
			<size>176,21</size>
			<tooltip>Inserir valor que será aplicado como entrada na transação.</tooltip>
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT2" variable="lblEntrada" member="yes">
			<label>Entrada (R$):</label>
			<pos>24,80</pos>
			<size>160,13</size>
		</object>
		<object class="wxTextCtrl" name="ID_TEXTCTRL3" variable="txtFgts" member="yes">
			<pos>288,104</pos>
			<size>176,21</size>
			<tooltip>Caso tenha direiro a aportas valores oriundos do FGTS, insira aqui o total dos valores.</tooltip>
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT3" variable="lblFgts" member="yes">
			<label>Aporte FGTS (R$)</label>
			<pos>24,112</pos>
			<size>160,13</size>
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT4" variable="lblCapExt1Fonte" member="yes">
			<label>Qual a fonte de capital externo?</label>
			<pos>24,192</pos>
			<size>224,13</size>
		</object>
		<object class="wxChoice" name="ID_CHOICE1" variable="cbxFonte" member="yes">
			<content>
				<item>Financiamento</item>
				<item>Hipoteca</item>
				<item>Empréstimo</item>
				<item>Não aplicável</item>
			</content>
			<pos>288,184</pos>
			<size>168,21</size>
			<tooltip>Informe o tipo de aporte de capital externo.</tooltip>
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT5" variable="lblCapExt1Valor" member="yes">
			<label>Valor aportado (R$):</label>
			<pos>24,224</pos>
		</object>
		<object class="wxTextCtrl" name="ID_TEXTCTRL4" variable="txtCapExt1Valor" member="yes">
			<pos>288,216</pos>
			<size>168,21</size>
			<tooltip>Valor total do aporte.</tooltip>
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT6" variable="lblCaptExt1Juro" member="yes">
			<label>Taxa de juros (%/ano):</label>
			<pos>24,256</pos>
		</object>
		<object class="wxTextCtrl" name="ID_TEXTCTRL5" variable="txtCapExt1Juro" member="yes">
			<pos>288,248</pos>
			<size>168,21</size>
			<tooltip>Taxa de juros do aporte (ex: 9,5 % ao ano).</tooltip>
		</object>
		<object class="wxChoice" name="ID_CHOICE2" variable="cbxAmort" member="yes">
			<content>
				<item>SAC</item>
				<item>PRICE</item>
				<item>Não aplicável</item>
			</content>
			<pos>288,392</pos>
			<size>168,21</size>
			<tooltip>Informe o tipo de amortização. No sistema SAC a amortização é constante e as parcelas são variáveis, sendo maior no início e menos no final. No sistema PRICE a amortização é variável, contudo as parcelas são constantes do início ao fim do período de pagamento.</tooltip>
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT7" variable="lblCapExt1Amort" member="yes">
			<label>Sistema de amortização:</label>
			<pos>24,400</pos>
			<size>128,13</size>
			<tooltip>Inserir o tipo de amortização. O mais comum é o uso do sistema SAC, em que a amortização é realizada de forma constante em cada parcela, e os valores das parcelas vão diminuindo a cada mês. No sistema PRICE o valor da amortização é variável mas o valor da parcela é constante.</tooltip>
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT8" variable="lblDistJuros" member="yes">
			<label>Distribuição taxa de juros:</label>
			<pos>24,288</pos>
		</object>
		<object class="wxChoice" name="ID_CHOICE3" variable="cbxDistJuros" member="yes">
			<content>
				<item>Uniforme</item>
				<item>Normal</item>
				<item>Não aplicável</item>
			</content>
			<pos>288,280</pos>
			<size>168,21</size>
			<tooltip>Informe qual a variação/distribuição dos valores de taxa de juros.</tooltip>
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT9" variable="lblParam1" member="yes">
			<label>Parâmetro 1:</label>
			<pos>128,316</pos>
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT10" variable="lblParam2" member="yes">
			<label>Parâmetro 2:</label>
			<pos>128,340</pos>
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT11" variable="lblParam3" member="yes">
			<label>Parâmetro 3:</label>
			<pos>128,364</pos>
		</object>
		<object class="wxTextCtrl" name="ID_TEXTCTRL6" variable="txtParam1" member="yes">
			<pos>288,316</pos>
			<tooltip>Uniforme: valor mínimo / Normal: média</tooltip>
		</object>
		<object class="wxTextCtrl" name="ID_TEXTCTRL7" variable="txtParam2" member="yes">
			<pos>288,340</pos>
			<tooltip>Uniforme: valor médio ou realista /  Normal: desvio padrão</tooltip>
		</object>
		<object class="wxTextCtrl" name="ID_TEXTCTRL8" variable="txtParam3" member="yes">
			<pos>288,364</pos>
			<tooltip>Uniforme: valor máximo / Normal: não aplicável</tooltip>
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT12" variable="lblServicos" member="yes">
			<label>Taxa serviços (%/mês):</label>
			<pos>24,464</pos>
		</object>
		<object class="wxTextCtrl" name="ID_TEXTCTRL9" variable="txtServicos" member="yes">
			<pos>288,456</pos>
			<size>168,21</size>
			<tooltip>Informe a taxa a ser paga em serviços contratados com o aporte do capital externo (ex: seguro residencial, seguro de vida, etc.).</tooltip>
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT13" variable="lblCustoContrat" member="yes">
			<label>Custo contratação (R$):</label>
			<pos>24,496</pos>
		</object>
		<object class="wxTextCtrl" name="ID_TEXTCTRL10" variable="txtCustoContrat" member="yes">
			<pos>288,488</pos>
			<size>168,21</size>
			<tooltip>Custo pago no momento da contratação. Normalmente é chamado popularmente de &quot;abertura de cadastro&quot;.</tooltip>
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT14" variable="lblPrazo" member="yes">
			<label>Prazo de pagamento (meses):</label>
			<pos>24,432</pos>
			<size>152,13</size>
		</object>
		<object class="wxTextCtrl" name="ID_TEXTCTRL11" variable="txtPrazo" member="yes">
			<pos>288,424</pos>
			<size>168,21</size>
			<tooltip>Prazo total de pagamento previsto, informado em meses</tooltip>
		</object>
		<object class="wxStaticBox" name="ID_STATICBOX3" variable="bxValores" member="yes">
			<label>Despesas e receitas</label>
			<pos>24,544</pos>
			<size>1608,384</size>
		</object>
		<object class="wxGrid" name="ID_GRID" variable="gridValores" member="yes">
			<cols>11</cols>
			<rows>50</rows>
			<defaultcolsize>121</defaultcolsize>
			<collabels>
				<item>Descrição</item>
				<item>Quant. (qtd)</item>
				<item>Dist. qtd</item>
				<item>Dist. qtd P1</item>
				<item>Dist. qtd P2</item>
				<item>Dist. qtd P3</item>
				<item>Valor (R$) (v)</item>
				<item>Dist.v</item>
				<item>Dist. v P1</item>
				<item>Dist. v P2</item>
				<item>Dist. v P3</item>
			</collabels>
			<pos>48,568</pos>
			<size>1560,336</size>
		</object>
		<object class="wxStaticBox" name="ID_STATICBOX4" variable="bxAEF" member="yes">
			<label>Avaliação Econômico-Financeira</label>
			<pos>520,24</pos>
			<size>480,240</size>
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT15" variable="lblIndEcon" member="yes">
			<label>Indicador econômico:</label>
			<pos>536,112</pos>
		</object>
		<object class="wxTextCtrl" name="ID_TEXTCTRL12" variable="txtIndEcon" member="yes">
			<pos>800,104</pos>
			<size>176,21</size>
			<tooltip>Ex: IPCA, INPC, IGP-M, etc.</tooltip>
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT16" variable="lblValorIndEcon" member="yes">
			<label>Valor indicador econômico (%/ano):</label>
			<pos>536,144</pos>
		</object>
		<object class="wxTextCtrl" name="ID_TEXTCTRL13" variable="txtValorIndEcon" member="yes">
			<pos>800,136</pos>
			<size>176,21</size>
			<tooltip>Taxa anualizada. Ex: 6,5 % ao ano.</tooltip>
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT17" variable="lblCustoOport" member="yes">
			<label>Taxa de custo de oportunidade (%/ano):</label>
			<pos>536,176</pos>
		</object>
		<object class="wxTextCtrl" name="ID_TEXTCTRL14" variable="txtCustoOport" member="yes">
			<pos>800,168</pos>
			<size>176,21</size>
			<tooltip>Valor anualizado da taxa média de retorno dos investimentos atuais. Ex: 8,5 % ao ano.</tooltip>
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT18" variable="lblCustoEvitado" member="yes">
			<label>Custos mensais evitados (R$):</label>
			<pos>536,208</pos>
		</object>
		<object class="wxTextCtrl" name="ID_TEXTCTRL15" variable="txtCustoEvitado" member="yes">
			<pos>800,200</pos>
			<size>176,21</size>
			<tooltip>Custos mensais evitados, por mês. Ex: aluguel de R$ 1.000,00 ao mês.</tooltip>
		</object>
		<object class="wxStaticBox" name="ID_STATICBOX5" variable="bxSMC" member="yes">
			<label>Simulação de Monte Carlo</label>
			<pos>520,280</pos>
			<size>480,248</size>
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT19" variable="lblAmostras" member="yes">
			<label>Valor de amostras:</label>
			<pos>536,312</pos>
			<size>96,13</size>
		</object>
		<object class="wxTextCtrl" name="ID_TEXTCTRL16" variable="txtAmostras" member="yes">
			<pos>800,304</pos>
			<size>176,21</size>
			<tooltip>Valor de amostras para a simulação de Monte Carlo. Ex: 1000</tooltip>
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT20" variable="lblSobreSMC" member="yes">
			<label>A Simulação de Monte Carlo, ou ainda Modelagem ou Método de Monte Carlo, refere-se a uma metodologia para resolver problemas matemáticos usando amostras aleatórias. Um exemplo desse conceito é o cálculo do valor de expectativa de uma variável aleatória, sendo que ao invés de calcularmos o valor desta expectativa conforme sua definição teórica, que pode envolver a resolução de integrais complexas, é realizada a coleta de uma grande quantidade de amostras aleatórias e seu valor esperado é estimado baseado nessas amostras.&#x0A;&#x0A;Obviamente que esta análise considerada exclusivamente aspectos objetivos e determinísticos de um projeto, neste caso a compra de um imóvel, desconsiderando aspectos relevantes, mas, de cunho pessoal e subjetivo.</label>
			<pos>536,368</pos>
			<size>424,152</size>
		</object>
		<object class="wxStaticBox" name="ID_STATICBOX7" variable="bxImportar" member="yes">
			<label>Importar/Exportar</label>
			<pos>1024,24</pos>
			<size>248,272</size>
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT22" variable="lblFormatoImp" member="yes">
			<label>Arquivo:</label>
			<pos>1040,48</pos>
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT21" variable="lblFormatoExp" member="yes">
			<label>Formato:</label>
			<pos>1040,128</pos>
		</object>
		<object class="wxButton" name="ID_BUTTON1" variable="btnExp" member="yes">
			<label>Exportar</label>
			<pos>1040,232</pos>
			<size>216,21</size>
			<tooltip>Favor selecionar formato.</tooltip>
			<handler function="OnbtnExpClick" entry="EVT_BUTTON" />
		</object>
		<object class="wxFilePickerCtrl" name="ID_FILEPICKERCTRL1" variable="fpImp" member="yes">
			<message></message>
			<wildcard></wildcard>
			<pos>1040,72</pos>
			<size>176,21</size>
			<style>wxFLP_CHANGE_DIR|wxFLP_FILE_MUST_EXIST|wxFLP_OPEN|wxFLP_USE_TEXTCTRL</style>
		</object>
		<object class="wxButton" name="ID_BUTTON2" variable="btnImp" member="yes">
			<label>Importar</label>
			<pos>1040,176</pos>
			<size>216,21</size>
			<tooltip>Favor selecionar arquivo e formato.</tooltip>
			<handler function="OnbtnImpClick" entry="EVT_BUTTON" />
		</object>
		<object class="wxStaticBox" name="ID_STATICBOX8" variable="bxExecutar" member="yes">
			<label>Executar</label>
			<pos>1024,312</pos>
			<size>248,216</size>
		</object>
		<object class="wxButton" name="ID_BUTTON3" variable="btnExecutar" member="yes">
			<label>Executar</label>
			<pos>1040,408</pos>
			<size>216,21</size>
			<handler function="OnbtnExecutarClick" entry="EVT_BUTTON" />
		</object>
		<object class="wxChoice" name="ID_CHOICE4" variable="cbExp" member="yes">
			<content>
				<item>CSV</item>
				<item>TXT</item>
			</content>
			<pos>1088,120</pos>
			<size>174,21</size>
		</object>
		<object class="wxRadioBox" name="ID_RADIOBOX1" variable="rbCalcAVEF" member="yes">
			<label>Calcular avaliação econômico-financeira?</label>
			<content>
				<item>Não</item>
				<item>Sim</item>
			</content>
			<dimension>2</dimension>
			<pos>536,48</pos>
			<size>440,48</size>
		</object>
		<object class="wxStaticBox" name="ID_STATICBOX9" variable="bxSmc" member="yes">
			<label>Resultado - Simulação de Monte Carlo</label>
			<pos>1288,24</pos>
			<size>344,184</size>
		</object>
		<object class="wxStaticBox" name="ID_STATICBOX10" variable="bxAvef" member="yes">
			<label>Resultado - Avaliação Econômico-Financeira</label>
			<pos>1288,224</pos>
			<size>344,304</size>
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT23" variable="lblValorMaisProv" member="yes">
			<label>Valor mais provável:</label>
			<pos>1304,48</pos>
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT24" variable="lblExpSmc" member="yes">
			<label>Conforme dados inseridos e Simulação de Monte Carlo realizada o comprador, com 95% de probabilidade, irá despendero valor acima informado como limite máximo para realizar o projeto de aquisição da residência pretendida. </label>
			<pos>1296,80</pos>
			<size>328,88</size>
		</object>
		<object class="wxTextCtrl" name="ID_TEXTCTRL17" variable="txtValorMaisProvavel" member="yes">
			<value>Não calculado</value>
			<pos>1440,40</pos>
			<size>176,21</size>
			<enabled>0</enabled>
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT25" variable="lblTir" member="yes">
			<label>TIR (%):</label>
			<pos>1304,248</pos>
			<tooltip>TIR ou Taxa Interna de Rentabilidade é a taxa de atualização do projeto que dá o VPL nulo. Deve ser comparada com a Taxa Mínima de Atratividade - TMA do adquirente.&#x0A;&#x0A;Para esta análise a TMA é equivalente à taxa de custo de oportunidade.&#x0A;&#x0A;Se a TIR for mais que a TMA o projeto é considerado vantajoso.</tooltip>
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT26" variable="lblpaybackSimples" member="yes">
			<label>Payback Simples (meses):</label>
			<pos>1304,280</pos>
			<tooltip>Payback refere-se ao tempo que um investimento leva para pagar o seu investimento inicial. &#x0A;&#x0A;No método simples é definido como o número de períodos para se recuperar o investimento inicial.&#x0A;&#x0A;Quanto menor for este prazo melhor!</tooltip>
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT27" variable="lblPaybackDescontado" member="yes">
			<label>Payback Desc. (meses):</label>
			<pos>1304,312</pos>
			<tooltip>Payback refere-se ao tempo que um investimento leva para pagar o seu investimento inicial.&#x0A;&#x0A;No método descontado emprega-se uma taxa de desconto antes de se proceder à soma dos fluxos de caixa.  Neste caso é empregado a taxa informada no campo do valor do indicador econômico.&#x0A;&#x0A;Quanto menor for este prazo melhor!</tooltip>
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT28" variable="lblVpl" member="yes">
			<label>VPL (R$):</label>
			<pos>1304,344</pos>
			<tooltip>VPL ou Valor Presente Líquido é a fórmula financeira capaz de determinar o valor presente de pagamentos futuros descontados a uma taxa de interessa apropriada, menos o custo do investimento inicial. &#x0A;&#x0A;A taxa emprega neste caso é a taxa de custo de oportunidade.&#x0A;&#x0A;Se o VPL for mais que zero o projeto é vantajoso!</tooltip>
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT29" variable="lblRcb" member="yes">
			<label>Razão custo/benefício:</label>
			<pos>1304,376</pos>
			<tooltip>A relação de custo-beneficio é um indicador que relaciona os benefícios de um projeto ou proposta, expressos em termos monetários, e o seus custos, também expressos em termos monetários. &#x0A;&#x0A;Tanto os benefícios como os custos devem ser expressos em valores presentes. &#x0A;&#x0A;Em regra geral, se essa relação é &gt; 1 o projeto é considerado vantajoso.&#x0A;&#x0A;</tooltip>
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT30" variable="lblExpAvef" member="yes">
			<label>Premissas:&#x0A;1 - São considerados os valores cadastrados nos campos valor, ou seja não se considera a distribuição de dispersão para estes cálculos;&#x0A;2 - O período total de analise (n) é sempre acrescido de 2, referentes ao desembolso inicial (t=n-1) e o retorno final do investimento (t=n+1);&#x0A;3 - O valor do imóveil é ajustado pela taxa do indicador econômico para o último período da análise como uma receita.&#x0A;&#x0A;</label>
			<pos>1296,400</pos>
			<size>328,120</size>
			<font>
				<size>8</size>
				<style>italic</style>
				<weight>normal</weight>
				<underlined>0</underlined>
				<family>swiss</family>
				<face>Arial Narrow</face>
			</font>
			<style>wxST_NO_AUTORESIZE|wxNO_BORDER|wxVSCROLL|wxALWAYS_SHOW_SB</style>
		</object>
		<object class="wxTextCtrl" name="ID_TEXTCTRL22" variable="txtTir" member="yes">
			<value>Não calculado</value>
			<pos>1440,240</pos>
			<size>176,21</size>
			<enabled>0</enabled>
		</object>
		<object class="wxTextCtrl" name="ID_TEXTCTRL21" variable="txtPayback" member="yes">
			<value>Não calculado</value>
			<pos>1440,272</pos>
			<size>176,21</size>
			<enabled>0</enabled>
		</object>
		<object class="wxTextCtrl" name="ID_TEXTCTRL20" variable="txtPaybackDesc" member="yes">
			<value>Não calculado</value>
			<pos>1440,304</pos>
			<size>176,21</size>
			<enabled>0</enabled>
		</object>
		<object class="wxTextCtrl" name="ID_TEXTCTRL19" variable="txtVpl" member="yes">
			<value>Não calculado</value>
			<pos>1440,336</pos>
			<size>176,21</size>
			<enabled>0</enabled>
		</object>
		<object class="wxTextCtrl" name="ID_TEXTCTRL18" variable="txtRcb" member="yes">
			<value>Não calculado</value>
			<pos>1440,368</pos>
			<size>176,21</size>
			<enabled>0</enabled>
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT31" variable="lblPeriodo" member="yes">
			<label>Periodo de análise:</label>
			<pos>536,240</pos>
		</object>
		<object class="wxTextCtrl" name="ID_TEXTCTRL23" variable="txtPeriodo" member="yes">
			<pos>800,232</pos>
			<size>176,21</size>
		</object>
		<object class="wxMenuBar" variable="mbMenu" member="no">
			<object class="wxMenu" variable="mnArquivo" member="no">
				<label>&amp;Arquivo</label>
				<object class="wxMenuItem" name="ID_MENUITEM1" variable="MenuItem1" member="no">
					<label>Quit</label>
					<accel>Alt-F4</accel>
					<help>Quit the application</help>
					<handler function="OnQuit" entry="EVT_MENU" />
				</object>
			</object>
			<object class="wxMenu" variable="mnAjuda" member="no">
				<label>&amp;Ajuda</label>
				<object class="wxMenuItem" name="idMenuAbout" variable="MenuItem2" member="no">
					<label>About</label>
					<accel>F1</accel>
					<help>Show info about this application</help>
					<handler function="OnAbout" entry="EVT_MENU" />
				</object>
			</object>
		</object>
		<object class="wxStatusBar" name="ID_STATUSBAR1" variable="sbBarra" member="yes">
			<fields>1</fields>
			<widths>-1</widths>
			<styles>wxSB_NORMAL</styles>
		</object>
	</object>
</wxsmith>
